<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated UIMM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="UIMM.presentation.UIMMModelWizardID"
            name="%_UI_UIMMModelWizard_label"
            class="UIMM.presentation.UIMMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UIMMModelFile.gif">
         <description>%_UI_UIMMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated UIMM -->
      <editor
            id="UIMM.presentation.UIMMEditorID"
            name="%_UI_UIMMEditor_label"
            icon="icons/full/obj16/UIMMModelFile.gif"
            extensions="uimm"
            class="UIMM.presentation.UIMMEditor"
            contributorClass="UIMM.presentation.UIMMActionBarContributor">
      </editor>
   </extension>

</plugin>
